.interview-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;  
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.interview-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.expired-card {
  opacity: 0.6;
  background-color: #f8f9fa;
  border-left: 4px solid #dc3545;
}     

@media (max-width: 576px) {
  .interview-card .btn {
    margin-bottom: 0.5rem;
  }
}

.input-group-text {
  background-color: #f1f1f1;
  border-right: 0;
  font-size: 20px;
}

.input-group .form-control {
  border-left: 0;
}

.input-group .form-control:focus{
  box-shadow: none;
  background-color: #ced4da;
  outline: none;
}

